*{
margin:0;
padding:0;
box-sizing:border-box;
}

:root {
    --colorPage4: #5dc1b9;
    --colorPage3: #ac3a92;
    --colorPage1: #1c1c1c;
    --colorPage2: #efefef;
}  

@font-face {
    font-family: 'Space Grotesk', sans-serif;
    src: url();
}

body{
    background-color: white;
}

main{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 100vh;
}

#big-box{
    display: flex;
    flex-direction: row;
}

#developers{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--colorPage3);
    text-align: center;
    
    
}

img{
    width:100%;
    height:100%;
    border-radius:50% ;
}

.box{
    margin-top: 2%;
    border:5px groove #c943a9; 
    margin-left: 10%;
    margin-right: 10%;
    width: 30vw;
    height: 60vh;
    padding: 2%;
    border-radius: 1rem;
    flex-wrap: wrap;

    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
  

#circle-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}

#circle-container h2{
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 4%;
}

.circle{
    width: 12vw;
    height: 22vh;
    margin-left: 25.7%;
    
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border-radius:50%;
}
 

.datos{
    width:100%;
    height:50%;
    font-size:.8rem;
    
    display:flex;
    justify-content: center;
    justify-items: center;
    flex-direction:column;
}

.datos a{
 font-size: 1.3rem;
 text-decoration: none;
 color: black;
 margin-left: 2%;
}

.datos a:hover{
    color: var(--colorPage3);
    transition: all .3s;
}

.datos img{
    position: relative;
    bottom:-23%;

}

.Github img{
    position: relative;
    width: 8%;
    height:80%;
}

.Gmail img{
    width: 8%;
    height:80%;
}

.linkedin img{
    width: 8%;
    height:80%;
}  