* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Space Grotesk', sans-serif;
    src: url();
}

.footerContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
}

.footerContainer .links{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.footerContainer .Info{
    background-color: var(--colorPage3);
    font-family: 'Space Grotesk', sans-serif;
    padding: 0.5%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.footerContainer ul{
    display: inline-block;
    list-style: none;
}

.footerContainer h2{
    color: black;
}

.footerContainer #story{
    background-color: rgba(43, 170, 159, 0);
    width: 20%;
    height: 15%;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    padding: 1%;
}

.footerContainer #story h2{
    color: black;
    font-family: 'Space Grotesk', sans-serif;
}

.footerContainer .links a{
    font-family: 'Space Grotesk', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.footerContainer .links ul {
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    padding: 5% 5%;
    background-color: rgba(43, 170, 159, 0);
}

.footerContainer .links a:hover{
    color: var(--colorPage3);
    transition: all 0.3s;
}

#developers a{
    font-weight: 700;
    font-size: 1.5rem;
}