@font-face {
    font-family: ComixLoud;
    src: url(./fuentes/ComixLoud.ttf);
}

:root {
    --colorPage4: #5dc1b9;
    --colorPage3: #ac3a92;
    --colorPage1: #1c1c1c;
    --colorPage2: #efefef;
}

header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 30;
}

.menu {
    background-color: var(--colorPage4);
    width: 100vw;
    position: fixed;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    padding-right: .9%;
    padding-left: .5%;
}

#triangle {
    position: absolute;
    background-color: var(--colorPage3);
    width: 60rem;
    height: 70rem;
    transform: rotate(30deg);
    left: -17rem;
    z-index: -1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.menu ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.menu ul div:not(:first-child){
    float: right;
}

.menu .boxNav .aMod{
    font-family: ComixLoud;
    text-decoration: none;
    color: var(--colorPage2);
    display: block;
    text-align: center;
    padding: 20px 15px;
}

.menu .boxNav .aModHome{
    font-family: ComixLoud;
    text-decoration: none;
    color: rgb(240, 240, 240);
    display: block;
    text-align: center;
    padding: 20px 15px;
}

.menu .boxNav {
    display: inline-block;
    margin-left: 10px;
    margin: 0px;
    padding: 0px;
}

.menu div:first-child {
   float: left;
}

.menu .boxNav .aMod:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--colorPage2);
    transition: all 0.5s;
}

.menu div:first-child:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    transition: all 0.5s;
}