@font-face {
    font-family: ComixLoud;
    src: url(./fuente/Comix\ Loud.ttf);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box

}

:root {
    --colorPage4: #5dc1b9;
    --colorPage3: #ac3a92;
    --colorPage1: #1c1c1c;
    --colorPage2: #efefef;
}

body{
    z-index:100;
    background-color:#1c1c1c
}


#productbox{
    color:#efefef;
    position:absolute;
    display:flex;
    flex-wrap:wrap;
    /* flex-grow:2; */
    top:20%;
    left:5%;
    width:50vw;
    height: 100vh;
    border:5px groove #ac3a92;
    border-top-left-radius:20%;
    border-top-right-radius:20%;
 }


.mangas h1{
    position:absolute;
    top:5%;
    left:30%;
    
}
.mangas h1::before{
   content:''; 
   width: 130px;
   height:3px;
   background-color:#ac3a92;
   position:absolute;
   left:45%;
   bottom:0%;
}

.mangas h1::after{
    content:''; 
    width: 130px;
    height:3px;
    background-color:#5dc1b9;
    position:absolute;
    right:45%;
    bottom:0px;
 }

 #margen{
    top:auto;
    width:100%;
    height:20%;
    background-color:transparent;
    border-bottom:5px groove #ac3a92;
    border-top-left-radius:400%;
    border-top-right-radius:400%;
}


/* .producto:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 } */

.producto img{
    width:10vw;
    height:40vh;
}

.producto img:hover{
    cursor:pointer
}

.producto{
/* color:white; */
font-size:10px;
width:10vw;
height:51vh;
 background-color:transparent;
margin-top:20px;
  margin-left:10%;
  border-color: #5dc1b9;

}

.button{ 
    border-radius: 12px;
    font-size: 10px;
    background-color:#efefef;
    color: rgb(5, 5, 5);
    border: 2px solid #ac3a92;
    padding:5px 12px;
}

.button:hover{
    cursor:pointer;
}




:root {
    --colorPage4: #5dc1b9;
    --colorPage3: #ac3a92;
    --colorPage1: #1c1c1c;
    --colorPage2: #efefef;
}

header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 30;
}

.menu {
    background-color: var(--colorPage4);
    width: 99.1vw;
    height: 7vh;
    position: fixed;
    overflow: hidden;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

#triangle {
    position: absolute;
    background-color: var(--colorPage3);
    width: 60rem;
    height: 70rem;
    transform: rotate(30deg);
    left: -17rem;
    z-index: -1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.menu ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.menu ul div:not(:first-child){
    float: right;
}

.menu .boxNav .aMod{
    font-family: ComixLoud;
    text-decoration: none;
    color: var(--colorPage2);
    display: block;
    text-align: center;
    padding: 20px 15px;
}

.menu .boxNav .aModHome{
    font-family: ComixLoud;
    text-decoration: none;
    color: rgb(240, 240, 240);
    display: block;
    text-align: center;
    padding: 20px 15px;
}

.menu .boxNav {
    display: inline-block;
    margin-left: 10px;
    margin: 0px;
    padding: 0px;
}

.menu div:first-child {
   float: left;
}

.menu .boxNav .aMod:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--colorPage2);
    transition: all 0.5s;
}

.menu div:first-child:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    transition: all 0.5s;
}
