* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin-top: 10vh;
    background-color: rgb(241, 241, 241);
}

.container {
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: fit-content;

    display: flex;
    justify-items: center;
    flex-direction: row;
}

@font-face {
    font-family: 'Space Grotesk', sans-serif;
    src: url();
}

.filter {
    font-family: 'Space Grotesk', sans-serif;
    width: 20vw;
    height: fit-content;
    background-color: rgb(241, 241, 241);
    overflow: hidden;
}

.filter div{
    margin-top: 10%;
    padding-right: 5%;
}

.filter h1 {
    margin-top: 5%;
    color: var(--colorPage3);
    padding-left: 3%;
    border-bottom: 2px solid var(--colorPage3);
    margin-right: 20%;
}

.filter div h1{
    color: var(--colorPage3);
    padding-left: 5%;
    border-bottom: 2px solid var(--colorPage3);
}

.filter div ul li{
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 2%;
    margin-left: 8%;
    width: fit-content;
    list-style: none;

    font-weight: 500;
    font-size: 1.2rem;

    
}

.filter div ul li:hover {
    color: var(--colorPage3);
    transition: all 0.3s;
    cursor: pointer;
}

.products-container {
    width: 100%;
    padding-top: 5%;

    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}
