@font-face {
    font-family: ComixLoud;
    src: url(./fuentes/ComixLoud.ttf);
}

:root {
    --colorPage1: #5dc1b9;
}

#box {
    position: absolute;
    background-color: var(--colorPage1);
    width: 1000px;
    height: 1000px;
    transform: rotate(30deg);
    left: -250px;
    z-index: -1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

body {
    margin: 0px;
    padding: 0px;
}

.menu ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.menu ul div:not(:first-child){
    float: right;
}

.menu {
    background-color: #ac3a92;
    width: 100%;
    position: fixed;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.menu .boxNav .aMod{
    font-family: ComixLoud;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 20px 15px;
}

.menu .boxNav {
    display: inline-block;
    margin-left: 10px;
    margin: 0px;
    padding: 0px;
}

.menu div:first-child {
   float: left;
}

.menu div:not(:first-child) .boxNav:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.menu div:first-child:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}
